#images{}
#images .selected-image-container{margin:0 5 5 0;}
#images .selected-image-container Image{width:100%;height:100%;}
#images .selected-image-container .btn-remove{padding:2;text-align:center;font-size:20;background-color:#d90000;color:#fff;}
