﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.fa {font-family: FontAwesome, fontawesome-webfont;}
.btn {font-size: 18;border-radius:6;text-align:center;border:0;color:#ffffff;}
.page{background-color:#000;}
.white{color:#fff;}
.white-bg, .page-white{background-color:#fff;}
.page-white ActionBar{background:#000;}
.page ActionBar{background:#d90000;}
.page .page-title{font-size:20;text-align:center;margin:0 0 10 0;}
.page .page-content{margin:0 0 10 0;}
.container{padding:10px;}
.btn-primary{color:#fff;background-color:#d90000;width:80%;border:0;}
.btn-border-white{border-width:1;border-color:#fff;border-style:solid;border-radius:4;}
.btn-xs{padding:3 8;font-size:14;font-weight:bold;height:40;width:auto;}
.btn-load-more{height:30;font-size:15;font-weight:bold;border-radius:20;background-color:#d90000;color:#fff;text-align:center;padding:2;margin:8 0;width:80%;}
.page #navigation{}
.page ListPicker{color:#fff;}
.page TextView{border-color:#d90000;border-style:solid;border-width:1;height:80;color:#fff;}
.page-white #navigation{}
.text-bold{font-weight:bold;}
TextField.black{color:#fff;placeholder-color:#aaa;border-radius:28;border-top:0;border-right:0;border-bottom-color:#d90000;border-bottom-style:solid;border-bottom-width:1;border-left:0;}
TabView{tab-background-color:#d90000;selected-tab-text-color:#fff;tab-text-color:#fff;}
TabView TabViewItem{color:#fff;}
.form-group{margin:0 0 10 0;height:auto;}
.login-links Label{text-align:center;padding:15 0;}
.copyright{text-align:center;width:100%;color:#fff;}
.activity-indicator{color:#d90000;}
/** navigation **/
#navigation{}
#navigation .title{font-weight:bold;font-size:20;padding:11 0;}
#btn-menu{background-color:#d90000;width:40;}
#btn-search{color:#fff;background:red;width:auto;visibility:collapse;}
.btn-popupmenu{border:0;background:transparent;}
#menu-container{}
#user-menu-header{background-color:#000;}
#user-menu-header Label{color:#fff;}
#user-menu-header .user-avatar{margin:0 8 0 0;border-radius:50;width:80;height:80;}
#user-menu-items{background-color:#d90000;height:100%;}
#user-menu-items .sidedrawer-list-item{padding:8px;}
#user-menu-items .sidedrawer-list-item Label{color:#fff;}
#user-menu-items .sidedrawer-list-item .menu-item-icon{font-size:20;margin:0 10px 0 0;width:45px;text-align:center;}
RadListView.listing{background-color:#fff;}
RadListView.listing Label{color:#000;}
.admob-item{height:80;}
RadListView.listing .list-item, .admob-item{padding:5;border-bottom-width:1;border-bottom-color:#bcbcbc;}
RadListView.listing .list-item .image{width:45;height:45;border-radius:12;}
RadListView.listing .list-item .item-content{padding:0 10;}
RadListView.listing .list-item-meta{width:100%;}
RadListView.listing .list-item-meta Label{font-size:11px;color:#7f7f7f;}
RadListView.listing .item-content .comments-count{margin:0 15px 0 0;} 
RadListView.listing .item-content .comments-count .icon{font-size:10px;padding-top:5;margin:0 8 0 0;}
RadListView.listing .item-content .comments-count .count{}
RadListView.listing .item-content .date{}
RadListView.listing .list-item .item-content .post-status{}
RadListView.listing .list-item .item-content .post-status-publish{color:#008000;}
RadListView.listing .list-item .item-content .post-status-pending{color:#C90707;}
RadListView.listing .grid-item{border-width:0;border-color:#ececec;border-style:solid;}
RadListView.listing .grid-item .image{height:150;}
RadListView.listing .grid-item .grid-item-info{padding:5;background-color:rgba(217,0,0,0.7);}
RadListView.listing .grid-item .grid-item-info Label{color:#fff;}
RadListView.listing .grid-item .grid-item-info .item-location{}
RadListView.listing .grid-item .grid-item-info .item-price{text-align:right;}

.section{margin:0 0 10 0;border-radius:5;border-width:1;border-color:#ececec;border-style:solid;}
.section .section-title{font-size:20;padding:3;}
.section .sectiloginon-body{padding:5 3;}
#sponsors{height:45;}
#sponsors Image{width:33.33%;}
DropDown{padding:6;}
DropDown.black{color:#fff;background-color:#000;placeholder-color:#d90000;border-bottom-style:solid;border-bottom-color:#d90000;border-bottom-width:1;}
/** comments **/
#listing-comments .list-item{padding:5;}
.write-comment-container{background-color:transparent;height:50;padding:0 5;border-top-color:#ececec;border-top-width:1;border-top-style:solid;}
.write-comment-container TextField{border-radius:8;font-size:13;height:40;padding:3;margin:0;background-color:#fff;border-width:1;border-color:#d90000;border-style:solid;}
.write-comment-container Button{padding:3;margin:0 0 0 5;font-size:20;width:50;height:35;color:#fff;background-color:#d90000;border-width:0;border-color:#ececec;border-style:solid;}
.sb-comment{padding:5;border-bottom-width:1;border-bottom-color:#ececec;border-bottom-style:solid;}
.sb-comment .author-image{margin:0 8 0 0;border-radius:5;}
.sb-comment .comment-datetime{font-size:12;margin:10 0 0 0;}
.sb-comment .comment-action{padding:2 4;color:#2828B8;}
LoginButton{width:80%;}
#banner-image{height:70;}
/** post **/
#post-container{}
#post-container .post-picture{max-height:350;width:100%;text-align:center;margin:0 0 10 0;}
.post-message{color:#000;margin:0 0 10 0;}
/** modal **/
.modal-page{padding:10;border-radius:0;border-color:transparent;border-width:0;border-style:solid;}
#container-images{width:100%;}
#container-images Image{width:100%;}
/** settings **/
.settings-group{margin:0 0 10 0;}
.settings-group .title{font-size:18;}
.settings-group .body{}
.settings-group .body .setting-item{padding:8;border-bottom-color:#bcbcbc;border-bottom-style:solid;border-bottom-width:1;}
.settings-group .body .setting-item .icon,
.settings-group .body .setting-item .label{color:#fff;}
.settings-group .body .setting-item .icon{font-size:20;padding:8;}
.settings-group .body .setting-item .label{font-size:15;padding:6;}
.settings-group .body .setting-item Switch{color:red;background:#fff;border-color:#fff;border-width:1;border-style:solid;}
.video-container{background-color:#000; background-image: url('~/images/play.png');background-repeat: no-repeat;background-position:center;background-size: 50 50;}
.collapse{visibility:collapse;}
.flashes-image {
    animation-name: opacity;
    animation-duration: 0.5s;
    /*animation-iteration-count: 3/*infinite;*/
    /*animation-delay:10;*/
	animation-fill-mode: forwards;
}
@keyframes opacity {
    from { opacity: 1; }
    to { opacity: 0; }
}
