.product-header{margin: 0 0 10 0;}
.product-title{text-align:center;font-size:19;background:#F15759;color:#fff;padding: 6 0;}
.product-price{font-size:17;color:#F15759;padding:5;}
.product-prices{margin:0 0 10 0;}
.product-actions{margin:0 0 10 0;}
.product-actions Button{border:0;border-radius:0;margin:0;}
.btn-contact-seller{background:#53C893;color:#fff;}
.btn-share{background:#6787B0;color:#fff;}
.section *{color:#000;}
