.section .section-title{background-color:#f1f0f0;color:#d90000;}
.comment-author, .comment-author-name-sep{color:#fff;}
.comment-content{color:#fff;}
.comment-datetime{color:#ececec;}
.collapse{visibility:collapse;}
